<html>
<head>
<title>
Performance Visualizer
</title>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/chart.js"></script>
</head>
<body>

<a href="webapp/list">List all configured web applications</a>

<form name="form1">
WebApp:
<select name="webappList" onchange="initMethodNames(document.form1.webappList.options[document.form1.webappList.selectedIndex].value);">

</select>

Method:
<select name="methodList">

</select>

<br />
<br />
<div id="aggstats_div"></div>

</form>



</body>
</html>